@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="padding-top: 50px;">
    <div class="col-md-4">
        <div class="control-group">
            <div>
                <label for="broadcast">Message</label>
                <input type="text" id="broadcast" name="broadcast"/>
            </div>
            <button id="btn-broadcast">Broadcast</button>
        </div>
    </div>

    <div class='control-group'>
        <div>
            <label for='others-msg'>Message</label>
            <input type='text' id='others-msg' name='others-msg'/>
        </div>
        <button id='btn-others'>Send to Others</button>
    </div>


    <div class='control-group'>
        <div>
            <label for='self-message'>Message</label>
            <input type='text' id='self-message' name='self-message'/>
        </div>
        <button id='btn-self-message'>Send to Self</button>
    </div>

    <div class='control-group'>
        <button id='btn-conn-id'>ConnectionId</button>
    </div>


    <div class='control-group'>
        <div>
            <label for='user-id-input'>User Id</label>
            <input type='text' id='user-id-input' name='user-id-input'/>
        </div>
        <div>
            <label for='user-id-input'>Private message</label>
            <input type='text' id='private-message' name='private-message'/>
        </div>
        <button id='btn-private=-message'>Send to user</button>
    </div>


    <div class="col-md-7">
        <p>SignalR Messages:</p>
        <pre id="signalr-message-panel"></pre>
    </div>
</div>